<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Belfiore Alimentos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="../css/nivo-slider.css" type="text/css" />
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/responsive.css">


	<!-- jS -->
	<script src="../js/jquery.min.js" type="text/javascript"></script>
	<script src="../js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../js/jquery.nivo.slider.js" type="text/javascript"></script>
	<script src="../js/owl.carousel.min.js" type="text/javascript"></script>
	<script src="../js/jquery.nicescroll.js"></script>
	<script src="../js/jquery.scrollUp.min.js"></script>
	<script src="../js/main.js" type="text/javascript"></script>
	<script src="https://kit.fontawesome.com/9cd5b96171.js" crossorigin="anonymous"></script>

</head>
<body>


<!-- TOP HEADER Start
    ================================================== -->
	
	<section id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="contact-action"><i class="fa fa-phone-square"></i>EM CASO DE DUVIDAS, LIGUE PARA ESSE NÚMERO: <strong>+55 41 12345-6789</strong></p>
				</div>
				<div class="col-md-3 clearfix">
				</div>
				<div class="col-md-2">
				</div>
			</div> <!-- End Of /.row -->
		</div>	<!-- End Of /.Container -->
	
	<!-- MODAL Start
    	================================================== -->

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		    		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Introduce Yourself</h4>
		      		</div>
			      	<div class="modal-body clearfix">

						<form action="#" method="post" id="create-account_form" class="std">
							<fieldset>
								<h3>Create your account</h3>
								<div class="form_content clearfix">
									<h4>Enter your e-mail address to create an account.</h4>
									<p class="text">
										<label for="email_create">E-mail address</label>
										<span>
											<input placeholder="E-mail address"  type="text" id="email_create" name="email_create" value="" class="account_input">
					                    </span>
									</p>
									<p class="submit">
										<button class="btn btn-primary">Create Your Account</button>
									</p>
								</div>
							</fieldset>
						</form>
			      		<form action="" method="post" id="login_form" class="std">
							<fieldset>
								<h3>Already registered?</h3>
								<div class="form_content clearfix">
									<p class="text">
									<label for="email">E-mail address</label>
										<span><input placeholder="E-mail address" type="text" id="email" name="email" value="" class="account_input"></span>
									</p>
									<p class="text">
									<label for="passwd">Password</label>
										<span><input placeholder="Password" type="password" id="passwd" name="passwd" value="" class="account_input"></span>
									</p>
									<p class="lost_password">
										<a href="#popab-password-reset" class="popab-password-link">Forgot your password?</a>
									</p>
									<p class="submit">
										<button class="btn btn-success">Log in</button>
									</p>
								</div>
							</fieldset>
						</form>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      	</div>
		    	</div>
		  	</div>
		</div>	
	</section>  <!-- End of /Section -->
	


	<!-- LOGO Start
    ================================================== -->
	
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="/">
						<img src="images/Belfiore_Logo.png" alt="logo" width="250px" height="250px">
					</a>
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</header> <!-- End of /Header -->

	


	<!-- MENU Start
    ================================================== -->

	<nav class="navbar navbar-default">
		<div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div> <!-- End of /.navbar-header -->

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav nav-main">
		        	<li><a href="/">PÁGINA INICIAL</a></li>
					<li><a href="/produtos">PRODUTOS</a></li>
					<li class="active"><a href="/quemSomos">QUEM SOMOS</a></li>
					<li><a href="/contato">CONTATO</a></li>
		        </ul> <!-- End of /.nav-main -->
		    </div>	<!-- /.navbar-collapse -->
		</div>	<!-- /.container-fluid -->
	</nav>	<!-- End of /.nav -->

	<!--TEXT PRINCIPAL Start-->
<section class="shop">	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="products-heading">
					<h2>QUEM SOMOS</h2>
				</div>	<!-- End of /.Products-heading -->
				<div class="quemSomosImg">
					<img src="/images/quem_somos_palmito.jpg" alt="Imagem de palmitos">
					
				</div>
				<div id="text">
					<p>
						A <b>Bel Fiore Alimentos</b> é uma indústria que busca oferecer alimentos saudáveis e saborosos, com qualidade e preços justos. Nossas instalações e processos de fabricação obedecem a rigorosos padrões de qualidade e procedimentos operacionais para fornecer produtos com alto nível de segurança de alimentos.</br></br>
						As matérias-primas são selecionadas e rastreadas desde o produtor até a embalagem final. Todas as etapas do processo são monitoradas para garantir um produto seguro, atendendo todos os requisitos regulatórios e de segurança de alimentos.</br></br>
						A <b>Bel Fiore Alimentos</b> foi fundada na cidade de Antonina, litoral paranaense, onde está localizado nosso parque industrial. O que começou como uma pequena produtora de palmitos, com a experiência e a dedicação de amigos e produtores do campo, cresceu e vem trabalhando para se tornar uma empresa de referência no setor alimentício, com uma grande variedade de produtos.</br></br>
						Ser uma referência em qualidade e bons produtos na área de alimentos exige muita responsabilidade, por isso que na <b>Bel Fiore Alimentos</b> tudo é feito com amor.

					</p>
				</div>
			</div>
		<div class="container-missao">	
			<div class="col-md-6">
				<div id="text">
					<h2>MISSÃO</h2>
					<p>
						Oferecer às pessoas, em todo o mundo, a oportunidade de consumir alimentos de qualidade, saborosos e saudáveis, permitindo uma experiência alimentar diferenciada.
					</p>
				</div>
				<div id="text">
					<h2>VISÃO</h2>
					<p>
						Ser uma empresa de alimentos líder no Sul do Brasil, referência no mercado internacional, destacando-se pelas práticas sustentáveis e capacidade de ingressar em novos negócios por meio de uma gestão ágil, determinada, inovadora e eficiente, sendo reconhecida como uma empresa dinâmica, coerente e ética pelos seus clientes, consumidores, fornecedores, colaboradores e pela comunidade onde está inserida.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div id="text" class="valores">
					<h2>VALORES DA BEL FIORE ALIMENTOS</h2>
					
					<p>
						<i class="fa-solid fa-circle"></i> Ética, confiança e integridade</br>
						<i class="fa-solid fa-circle"></i> Qualidade e responsabilidade</br>
						<i class="fa-solid fa-circle"></i> Trabalho em equipe com entusiasmo</br>
						<i class="fa-solid fa-circle"></i> Competitividade, agilidade e eficiência</br>
						<i class="fa-solid fa-circle"></i> Crescimento com consistência e persistência</br>
						<i class="fa-solid fa-circle"></i> Comprometimento e disciplina</br>
						<i class="fa-solid fa-circle"></i> Inovação e aprendizado contínuo</br>
						<i class="fa-solid fa-circle"></i> Respeito e reconhecimento</br>
						<i class="fa-solid fa-circle"></i> Responsabilidade social e sustentabilidade
						</p>
				</div>
			</div>
		</div>	
	</div>
</div>
</section>			
<!--TEXT PRINCIPAL Ends-->


<!-- FOOTER Start
    ================================================== -->

	<footer>
		<div class="container">
			<div class="row" id="space-footer">
				<div class="col-md-4">
					<div class="block clearfix">
						<a href="/">
							<img src="images/Belfiore_Logo.png" alt="" width="150px" height="150px">
						</a>
						<!-- <h4 class="connect-heading">REDES SOCIAIS</h4>
						<ul class="social-icon">
							<li>
								<a class="facebook-icon" href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="plus-icon" href="#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a class="twitter-icon" href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="pinterest-icon" href="#">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a class="linkedin-icon" href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li> -->
						<!-- </ul>	End Of /.social-icon -->
					</div>	<!-- End Of /.block -->
				</div> <!-- End Of /.Col-md-4 -->
				<div class="col-md-4">
					<div class="block">
						<h4>FALE CONOSCO</h4>
						<p ><i class="fa  fa-map-marker"></i> <span>Bel Fiore Alimentos</span> Rua Alfredo Jacob, 184 - Centro 
							Antonina – Paraná - Brasil 
							CEP: 83370-000</p>

						<p> <i class="fa  fa-mobile"></i> <span>Telefone:</span> (+386) 40 654 123 651</p>
 
						<p class="mail"><i class="fa  fa-envelope"></i>E-mail: <span>contato@belfiorealimentos.com.br</span></p>
					</div>	<!-- End Of /.block -->
				</div> <!-- End Of Col-md-3 -->
				
			</div> <!-- End Of /.row -->
		</div> <!-- End Of /.Container -->


	<!-- FOOTER-BOTTOM Start
    ================================================== -->

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text pull-right">Belfiore Alimentos @2022 Editado por <a target="_blank" id="fredy" href="https://linktr.ee/fredyycarneiro">FredyCarneiro</a> - Todos os direitos reservados</p>
				</div>	<!-- End Of /.col-md-12 -->	
			</div>	<!-- End Of /.row -->	
		</div>	<!-- End Of /.container -->	
	</div>	<!-- End Of /.footer-bottom -->
</footer> <!-- End Of Footer -->
	
	<a id="back-top" href="#"></a>

	
</body>
</html>